@model IEnumerable<Domain.Entities.Project>
@{
    ViewData["Title"] = "TeamLead Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container  align-content-center">
    <h1>Project List</h1>
    <sapn class="btn btn-outline-secondary "> @Html.ActionLink("New Project","Add","Project" ,null,new {style="text-decoration:none"})</sapn>


    <div class="row">
        <div class="col-md-4">
            @if (Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col"> @Html.DisplayNameFor(model => model.Name)</th>

                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>

                                    @Html.ActionLink("Detail", "Detail", new { id=item.Id })

                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    

</div>
