@{
    ViewData["Title"] = "Login";
    }


<div class="container  align-content-center ">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <span class="alert-danger">Error :  @TempData["ErrorMessage"]</span>
        </div>
        <div class="col-md-4"></div>
    </div>
   
</div>